h4{
    background-color: aqua;
    line-height: 2;
    margin: 0px;
}
.instruction_image
{
    display:inline-block;
    width: 45%;
}
.modal-dialog
{
    width: 90%;
}
video
{
    background: url('game_console.png');
    background-size: cover;
    background-position: center;
    padding: 25px;
}